streamlit==1.22.0
pypdf2~=3.0.1
nltk~=3.8.1
matplotlib~=3.7.1
wordcloud==1.9.1.1
textblob~=0.17.1
vaderSentiment~=3.3.2
sklearn==0.0.post5
scikit-learn~=1.2.2
Levenshtein==0.21.0
jellyfish~=0.11.2
pandas==2.0.1
openai~=0.27.6
text2emotion~=0.0.5